body {
  background: #f1f3f5;
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,helvetica neue,sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #345;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: #22a7f0;
  text-decoration: none;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.content__header {
  font-size: 32px;
  color: #222;
  font-weight: 400;
  margin: 20px 0;
  text-align: center;
}

.content__example {
  margin-bottom: 30px;
}

.example__heading {
  font-size: 17px;
  font-weight: 500;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e2e2e2;
}

.content-box {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 2px #e2e2e2;
}

.example__card {
  padding: 15px;
}

.example-card__title {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 5px;
}

a.example-card__title {
  display: inline-block;
  border-bottom: 1px dashed #22a7f0;
}

.example-code__card {
  padding: 15px;
  background: #f7f7f7;
  border-top: 1px solid #f2f2f2;
}

.example-code__card .example-card__title {
  margin-bottom: 15px;
}

.example-card__code-block {
  padding: 0 15px;
  font-size: 13px;
  font-family: cousine,sfmono-regular,Consolas,Menlo,liberation mono,ubuntu mono,Courier,monospace;
  text-align: left;
  border: 1px dashed #e2e2e2;
  overflow-x: auto;
}
